registry=https://registry.npmjs.org/
strict-ssl=true
access=public
legacy-peer-deps=false
fetch-timeout=60000
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=120000
scope=@koo
init-author-name=koo
